<div class="main">
    <div class="main-window">

        <i class="glyphicon glyphicon-cog settings-btn"
           ng-click="vm.toggleSettings();"></i>

        <div class="main-block" ng-if="!vm.settingsOpen">
            <div class="text-center">
                <h2 class="wash-dark-text bold">
                    <span ng-if="vm.firstDay === null">first day of period - </span>
                    <span ng-if="vm.firstDay !== null">{{vm.firstDay | date: 'dd MMM yyyy'}} - </span>
                    <span ng-if="vm.lastDay === null">last day of period</span>
                    <span ng-if="vm.lastDay !== null">{{vm.lastDay | date: 'dd MMM yyyy'}}</span>
                </h2>
            </div>

            <h3 class="malcolm-dark-text text-center bold">daily budget &#8212
                <span class="simon-extra-dark-text">{{vm.dailyBudget()}} €</span>
            </h3>
        </div>

        <div ng-include
             class="settings"
             src="'app/settings/settings.html'"></div>
    </div>

    <div ng-include
         class="balance-panel"
         src="'app/balance/balance-panel.html'"></div>
</div>

