.balance-panel {
  background-color: $simon-extra-dark;
  display: inline-block;
  padding: 2rem;
  float: right;

  .accordion, .total, .daily-expenses {
    margin-top: 2rem !important;
    box-shadow: none !important;
    outline: none !important;

    i {
      color: $wash;
    }

    &:hover {
      i {
        color: $wash-dark;
      }
    }

    &:active {
      i {
        color: $wash-extra-dark;
      }
    }

    .panel-heading {
      padding: 0 !important;
    }

    .panel-body {
      border-top: none !important;
      padding: 0 !important;
    }

    h3, h5, input {
      display: inline-block;
      padding: 0;
    }

    input {
      background-color: $simon-extra-dark;
      border: none;
      border-bottom: 2px $wash solid;
      text-align: right;

      &:focus {
        outline: none;
        border-bottom: 2px $wash-dark solid;
      }
    }

    .balance-name {
      width: calc(54% - 2rem);
      margin-left: 2rem;
    }

    .balance-amount {
      width: calc(44% - 2rem);
      margin-left: 2rem;
    }
  }

  .daily-expenses {
    margin-top: 0 !important;
    h3 {
      font-weight: 400;
    }
  }

  .total {
    margin-top: 4rem !important;
    border-top: 2px solid $malcolm-dark;
    h3 {
      font-weight: 400;
    }
  }
}

.balance-panel-big {
  width: calc(300px - 4rem);
  display: none;
  @include respond-to('lg') {
    display: block;
  }
}

.balance-panel-small {
  background-color: $simon-extra-dark;
  width: calc(100px - 4rem);

  .total-small {
    transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    width: 15px;
    height:100px;

    h3 {
      font-size: 4rem !important;
    }
  }

  @include respond-to('lg') {
    display: none;
  }
}