$black: #000;
$white: #fff;

$malcolm: #1b6d85;
$zoe: #48b1b7;
$inara: #c7f7f4;
$simon: #9bb317;
$summer: #d2dd43;



.malcolm-text {
  color: $malcolm !important;
}

.zoe-text {
  color: $zoe !important;
}

.inara-text {
  color: $inara !important;
}

.simon-text {
  color: $simon !important;
}

.summer-text {
  color: $summer !important;
}



.malcolm-bg {
  background-color: $malcolm !important;
}

.zoe-bg {
  background-color: $zoe !important;
}

.inara-bg {
  background-color: $inara !important;
}

.simon-bg {
  background-color: $simon !important;
}

.summer-bg {
  background-color: $summer !important;
}