$black: #000;
$zoe: #4C4D4D;
$inara: #838383;
$kaylee: #A9A9A9;
$summer: #FCFCFC;
$white: #fff;

$malcolm: #173E43;
$malcolm-extra-light: #3E7279;
$malcolm-light: #27494E;
$malcolm-dark: #0A2C30;
$malcolm-extra-dark: #011A1D;

$simon: #3FB0AC;
$simon-extra-light: #8EE8E5;
$simon-light: #66CBC7;
$simon-dark: #239994;
$simon-extra-dark: #098782;

$wash: #FAE596;
$wash-extra-light: #FFF3C5;
$wash-light: #FFF2BF;
$wash-dark: #D2BA5D;
$wash-extra-dark: #AA9133;

$jayne: #DDDFD4;
$jayne-extra-light: #FEFEFE;
$jayne-light: #F7F8F4;
$jayne-dark: #B7BAA8;
$jayne-extra-dark: #959A7E;


//Text colors

.black-text {
  color: $black !important;
}

.zoe-text {
  color: $zoe !important;
}

.inara-text {
  color: $inara !important;
}

.kaylee-text {
  color: $kaylee !important;
}

.summer-text {
  color: $summer !important;
}

.white-text {
  color: $white !important;
}


.malcolm-text {
  color: $malcolm !important;
}

.malcolm-extra-light-text {
  color: $malcolm-extra-light !important;
}

.malcolm-light-text {
  color: $malcolm-light !important;
}

.malcolm-dark-text {
  color: $malcolm-dark !important;
}

.malcolm-extra-dark-text {
  color: $malcolm-extra-dark !important;
}


.simon-text {
  color: $simon !important;
}

.simon-extra-light-text {
  color: $simon-extra-light !important;
}

.simon-light-text {
  color: $simon-light !important;
}

.simon-dark-text {
  color: $simon-dark !important;
}

.simon-extra-dark-text {
  color: $simon-extra-dark !important;
}


.wash-text {
  color: $wash !important;
}

.wash-extra-light-text {
  color: $wash-extra-light !important;
}

.wash-light-text {
  color: $wash-light !important;
}

.wash-dark-text {
  color: $wash-dark !important;
}

.wash-extra-dark-text {
  color: $wash-extra-dark !important;
}


.jayne-text {
  color: $jayne !important;
}

.jayne-extra-light-text {
  color: $jayne-extra-light !important;
}

.jayne-light-text {
  color: $jayne-light !important;
}

.jayne-dark-text {
  color: $jayne-dark !important;
}

.jayne-extra-dark-text {
  color: $jayne-extra-dark !important;
}


//Background colors

.black-bg {
  background-color: $black !important;
}

.zoe-bg {
  background-color: $zoe !important;
}

.inara-bg {
  background-color: $inara !important;
}

.kaylee-bg {
  background-color: $kaylee !important;
}

.summer-bg {
  background-color: $summer !important;
}

.white-bg {
  background-color: $white !important;
}


.malcolm-bg {
  background-color: $malcolm !important;
}

.malcolm-extra-light-bg {
  background-color: $malcolm-extra-light !important;
}

.malcolm-light-bg {
  background-color: $malcolm-light !important;
}

.malcolm-dark-bg {
  background-color: $malcolm-dark !important;
}

.malcolm-extra-dark-bg {
  background-color: $malcolm-extra-dark !important;
}


.simon-bg {
  color: $simon !important;
}

.simon-extra-light-bg {
  background-color: $simon-extra-light !important;
}

.simon-light-bg {
  background-color: $simon-light !important;
}

.simon-dark-bg {
  background-color: $simon-dark !important;
}

.simon-extra-dark-bg {
  background-color: $simon-extra-dark !important;
}


.wash-bg {
  background-color: $wash !important;
}

.wash-extra-light-bg {
  background-color: $wash-extra-light !important;
}

.wash-light-bg {
  background-color: $wash-light !important;
}

.wash-dark-bg {
  background-color: $wash-dark !important;
}

.wash-extra-dark-bg {
  background-color: $wash-extra-dark !important;
}


.jayne-bg {
  background-color: $jayne !important;
}

.jayne-extra-light-bg {
  background-color: $jayne-extra-light !important;
}

.jayne-light-bg {
  background-color: $jayne-light !important;
}

.jayne-dark-bg {
  background-color: $jayne-dark !important;
}

.jayne-extra-dark-bg {
  background-color: $jayne-extra-dark !important;
}