.viewport {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  background-color: $jayne-light !important;
}

// Media queries
$breakpoints: (
        'sm': 500px,
        'lg': 900px,
);

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
      + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin respond-to-max-width($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value != null {
    @media (max-width: $value) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
      + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// Buttons

@mixin buttons($bg, $bg-hover, $bg-active, $color) {
  background-color: $bg;
  color: $color;
  &:hover {
    background-color: $bg-hover;
    color: $color;
  }
  &:active {
    background-color: $bg-active;
  }
}