.btn {
  padding: .5rem 1rem;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;

  &:active {
    outline: none !important;
    box-shadow: none;
  }
}

.btn-big {
  padding: 1rem 2rem;
}

.btn-wash {
  margin: 2rem;
  background-color: $wash;
  color: $simon;
  &:hover {
    background-color: $wash-dark;
    color: $simon;
  }
  &:active {
    background-color: $wash-extra-dark;
  }
}

.btn-malcolm {
  margin: 2rem;
  background-color: $malcolm-extra-light;
  color: $summer;
  &:hover {
    background-color: $malcolm-light;
    color: $summer;
  }
  &:active {
    background-color: $malcolm;
  }
}

