h1, .h1 {
  font-weight: 500;
  font-size: 4rem;
}

h2, .h2 {
  font-weight: 400;
  font-size: 3rem;
}

h3, .h3 {
  font-weight: 200;
  font-size: 2rem;
}

h4, .h4 {
  font-weight: 200;
  font-size: 1.8rem;
}

h5, .h5 {
  font-weight: 200;
  font-size: 1.6rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

a {

  &:hover {
    text-decoration: none !important;
  }

  &:focus {
    outline: none !important;
    text-decoration: none !important;
  }
}