// Padding
.padding-2x {
  padding: 2rem !important;
}
.padding {
  padding: 1rem !important;
}
.padding-left {
  padding-left: 1rem !important;
}
.padding-right {
  padding-right: 1rem !important;
}
.padding-top {
  padding-top: 1rem !important;
}
.padding-bottom {
  padding-bottom: 1rem !important;
}
.padding-left-2x {
  padding-left: 2rem !important;
}
.padding-right-2x {
  padding-right: 2rem !important;
}
.padding-top-2x {
  padding-top: 2rem !important;
}
.padding-bottom-2x {
  padding-bottom: 2rem !important;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

// Margin
.margin {
  margin: 1rem !important;
}
.margin-left {
  margin-left: 1rem !important;
}
.margin-right {
  margin-right: 1rem !important;
}
.margin-top {
  margin-top: 1rem !important;
}
.margin-bottom {
  margin-bottom: 1rem !important;
}
.margin-2x {
  margin: 2rem !important;
}
.margin-left-2x {
  margin-left: 2rem !important;
}
.margin-right-2x {
  margin-right: 2rem !important;
}
.margin-top-2x {
  margin-top: 2rem !important;
}
.margin-bottom-x2 {
  margin-bottom: 2rem !important;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}