.settings {

  form {
    margin-top: 40px;

    label {
      margin-left: 1rem;
      font-size: 1.6rem;
    }

    .input-group {
      margin-top: -4px;
      width: 240px;
      .btn-malcolm {
        height: 34px;
      }
    }
  }
}